@mixin botones{
    font-family: $fontfamili;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 25px;
    padding: 6px 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: rgb(243, 174, 0);
    display: block;
    margin: auto;
    width: 50%;
}
.btn-propio{
    @include botones;
}
@mixin flex($align,$justify,$wrap,$direccion){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
    flex-direction: $direccion;
}