$colorenlace: #46a2fd;
$fontfamili: 'Russo One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$colorfondo: black;
$color_texto: white;
$borde: 2px solid white;
$colorFondo: #fff;
$fontfamili: 'Russo One', sans-serif;

$ancho: 300px;
$alto: 200px;
$color_a_form: #46a2fd;
$color_hover_form: orange;
$fontfamili: 'Russo One', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');